<form class="form_entryrow" id="form_entryrow-{{ index }}">
    <div class="row row-cards mb-1 column-gap-1 justify-content-around">
        {{ form.non_field_errors }}
        <div class="card card-body col-2 date">
            {{ form.date }}
        </div>
        <div class="card card-body col-1 ledger">
            {{ form.ledger }}
        </div>
        <div class="card card-body col-1 account">
            {{ form.account }}
        </div>
        <div class="card card-body col-4 document">
            {{ form.document }}
        </div>
        <div class="card card-body col-2 value">
            {{ form.value }}
        </div>

        <div class="card card-body col-1">
            <button class="btn btn-ghost-cyan" type="button"
            {% if index == 1 %} disabled {% endif %}
            onclick="delete_row({{ index }})"
            >
                Delete
            </button>
        </div>
    </div>

    <!-- HTMX trigger to automatically add new row -->
    <div hidden class="entryrow_create_trigger"
    hx-get="{% url 'entries:create_row' index=index|add:'1' %}"
    hx-trigger="keydown[key == 'Tab'] from:(#form_entryrow-{{ index }} .value input) once"
    hx-target="#entryrow_container"
    hx-swap="beforeend"
    ></div>

</form>
