{% extends "accounts/_base.html" %}

{% load static %}

{% block page-title %} Delete Account: {{ account }} {% endblock %}

{% block content %}
<form action="{% url 'accounts:delete' account %}" method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="row row-cards mb-1 column-gap-1 justify-content-around">
            <div class="card card-body col-2 strong">Name</div>
            <div class="card card-body col-2 strong">Type</div>
            <div class="card card-body col-4 strong">Notes</div>
        </div>
        <div class="row row-cards column-gap-1">
            <div class="card card-body col-2">{{ account.id }}</div>
            <div class="card card-body col-2">{{ account.is_creditor }}</div>
            <div class="card card-body col-4">{{ account.notes | default:'<em>No notes.</em>' }}</div>
        </div>

        <div class="row row-cards mb-3">
            <div class="card col-2 ms-auto">
                <div class="card-body">
                    <div class="input-group">
                        <span class="input-group-text">
                            <input class="form-check-input" type="checkbox" title="Confirm deletion." required>
                        </span>
                        <input class="p-2 m-1 btn btn-ghost-cyan" type="submit" value="Delete!">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cards mb-1 justify-content-around strong">
            <div class="card col-1">
                <div class="card-body">Entry</div>
            </div>
            <div class="card col-2">
                <div class="card-body">Date</div>
            </div>
            <div class="card col-1">
                <div class="card-body">Ledger</div>
            </div>
            <div class="card col-1">
                <div class="card-body">Account</div>
            </div>
            <div class="card col-4">
                <div class="card-body">Document</div>
            </div>
            <div class="card col-2">
                <div class="card-body">Value</div>
            </div>
        </div>

        <div id="entry_rows_placeholder"
            hx-target="this"
            hx-swap="outerHTML"
            hx-trigger="load"
            hx-get="{% url 'entries:hx-account_rows' account.id %}">
        </div>
    </div>
</form>

<!-- Error toast -->
{% if messages|length > 0 %}
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11">
    {% for message in messages %}
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true"
    data-bs-autohide="false" data-bs-toggle="toast">
        <div class="toast-header">
        <strong class="me-auto text-danger">Error</strong>
        <button type="button" class="ms-2 btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ message }}
            <br>
            {% for object in protected_objects %}
            <a href="{% url 'entries:details' object %}" target="_blank">Entry: {{ object }}</a>
            <img style="vertical-align: middle;" src="{% static 'media/feather/arrow-up-right.svg' %}"
            width="18px" alt="arrow-up-right">
            {% if not forloop.last %}<br>{% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock content %}
