{% extends 'accounts/_base.html' %}

{% block page-title %} Account: {{ account.id }} {% endblock %}

{% block content %}
<div class="container">
    <div class="row row-cards mb-1 justify-content-around strong">
        <div class="card col-3">
            <div class="card-body">Name</div>
        </div>
        <div class="card col-2">
            <div class="card-body">Type</div>
        </div>
        <div class="card col-6">
            <div class="card-body">Notes</div>
        </div>
    </div>
    <div class="row row-cards mb-1 justify-content-around">
        <div class="card col-3">
            <div class="card-body">{{ account.name }}</div>
        </div>
        <div class="card col-2">
            <div class="card-body">{{ account.is_creditor }}</div>
        </div>
        <div class="card col-6">
            <div class="card-body">{{ account.notes | default:'<em>No notes.</em>' }}</div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row row-cards mb-1 justify-content-around strong">
        <div class="card col-1">
            <div class="card-body">Entry</div>
        </div>
        <div class="card col-2">
            <div class="card-body">Date</div>
        </div>
        <div class="card col-1">
            <div class="card-body">Ledger</div>
        </div>
        <div class="card col-1">
            <div class="card-body">Account</div>
        </div>
        <div class="card col-4">
            <div class="card-body">Document</div>
        </div>
        <div class="card col-2">
            <div class="card-body">Value</div>
        </div>
    </div>

    <div id="entry_rows_placeholder"
        hx-target="this"
        hx-swap="outerHTML"
        hx-trigger="load"
        hx-get="{% url 'entries:hx-account_rows' account.id %}">
    </div>
</div>
{% endblock content %}
