{% extends "journals/_base.html" %}

{% load static %}

{% block page-title %} Delete Journal: {{ journal }} {% endblock %}

{% block content %}
<div class="container mb-3">
    <form action="{% url 'journals:delete' journal %}" method="POST">
        {% csrf_token %}
        <div class="row row-cards mb-1 justify-content-around strong">
            <div class="card col-3">
                <div class="card-body">Name</div>
            </div>
            <div class="card col-2">
                <div class="card-body">Type</div>
            </div>
            <div class="card col-6">
                <div class="card-body">Notes</div>
            </div>
        </div>
        <div class="row row-cards mb-1 justify-content-around">
            <div class="card col-3">
                <div class="card-body">{{ journal.name }}</div>
            </div>
            <div class="card col-2">
                <div class="card-body">{{ journal.type }}</div>
            </div>
            <div class="card col-6">
                <div class="card-body">{{ journal.notes | default:'<em>No notes.</em>' }}</div>
            </div>
        </div>

        <div class="row row-cards mb-1 justify-content-around">
            <!-- Hidden rows for alignment -->
            <div class="col-7"></div>
            <div class="col-1"></div>

            <div class="card col-3">
                <div class="card-body">
                    <div class="input-group">
                        <span class="input-group-text">
                            <input class="form-check-input" type="checkbox" title="Confirm deletion." required>
                        </span>
                        <input class="p-2 m-1 btn btn-ghost-cyan" type="submit" value="Delete!">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="row row-cards mb-1 justify-content-around strong">
        <div class="card col-2">
            <div class="card-body">Entry</div>
        </div>
        <div class="card col-2">
            <div class="card-body">Journal</div>
        </div>
        <div class="card col-2">
            <div class="card-body">Number of rows</div>
        </div>
        <div class="card col-5">
            <div class="card-body">Notes</div>
        </div>
    </div>

    <div id="entry_rows_placeholder"
        hx-target="this"
        hx-swap="outerHTML"
        hx-trigger="load"
        hx-get="{% url 'entries:hx-journal_rows' journal.id %}">
    </div>
</div>

{% if messages|length > 0 %}
<!-- Error toast -->
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11">
    {% for message in messages %}
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true"
    data-bs-autohide="false" data-bs-toggle="toast">
        <div class="toast-header">
        <strong class="me-auto text-danger">Error</strong>
        <button type="button" class="ms-2 btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ message }}
            <br>
            {% for object in protected_objects %}
            <a href="{% url 'entries:details' object %}" target="_blank">Entry: {{ object }}</a>
            <img style="vertical-align: middle;" src="{% static 'media/feather/arrow-up-right.svg' %}"
            width="18px" alt="arrow-up-right">
            {% if not forloop.last %}<br>{% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock content %}
