{% if journal_list %}
{% for journal in journal_list %}
<div class="row row-cards mb-1 justify-content-around">
    <div class="col-xl-2 col-4 card">
        <div class="card-body">
            <a href="{% url 'journals:details' journal.id %}" class="badge badge-pill journal-link">{{ journal.id }}</a>
        </div>
    </div>
    <div class="col-xl-3 col-7 card">
        <div class="card-body">{{ journal.name }}</div>
    </div>
    <div class="col-xl-2 col-4 card">
        <div class="card-body">{{ journal.type }}</div>
    </div>
    <div class="col-xl-4 col-7 card">
        <div class="card-body">{{ journal.notes | default:'<em>No notes.</em>' }}</div>
    </div>
</div>
{% endfor %}
{% else %}
<p>No journals available.</p>
{% endif %}
