{% extends "_base.html" %}

{% load static %}

{% block page-title %}
<div class="text-center">Page <code>{{ exception.args.0.path }}</code> not found</div>
{% endblock page-title %}

{% block content %}
<div class="container">
  <div class="row row-cards">
    <div class="card col-12 col-md-4 align-items-center">
      <div class="card-body">
        <a class="btn btn-ghost-cyan" href="/">
          <img src="{% static 'media/feather/home.svg' %}" style="height: 20px" alt="Home" class="navbar-brand-image">
          &nbsp;
          Home
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
