<!--
    - [x] ListView van regels op GBK
    - [ ] Dan met filter opties
    - [ ] En GBK-specifieke gegevens/instellingen (dropdown menu ofzo?)
-->

{% extends "ledgers/_base.html" %}

{% block page-title %} Ledger: {{ ledger.id }} {% endblock %}

{% block content %}
<div class="container-xl">
    <div class="row row-cards mb-1 column-gap-1">
        <div class="card card-body col-2 strong">ID</div>
        <div class="card card-body col-4 strong">Name</div>
        <div class="card card-body col-1 strong">Type</div>
        <div class="card card-body col-4 strong">Notes</div>
    </div>
    <div class="row row-cards column-gap-1">
        <div class="card card-body col-2">{{ ledger.id }}</div>
        <div class="card card-body col-4">{{ ledger.name }}</div>
        <div class="card card-body col-1">{{ ledger.type }}</div>
        <div class="card card-body col-4">{{ ledger.notes | default:'<em>No notes.</em>' }}</div>
    </div>
</div>

<div class="container-xl mt-4">
    <div id="entry_row_placeholder"
        hx-target="this"
        hx-swap="outerHTML"
        hx-trigger="load"
        hx-get="{% url 'entries:ledger_rows' ledger.id %}">
    </div>

    <div class="row column-gap-1 strong mt-2 justify-content-around">
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-1"></div>
        <div class="col-4"></div>
        <div class="card col-2 ml-auto">
            <div class="card-body">€ {{ ledger_sum | default:0 | floatformat:2 }}</div>
        </div>
    </div>
</div>
{% endblock content %}
