<div class="card card-body">
    {% if ledger_list %}
    <dl class="row">
        <dt class="col-xl-2 col-4 border border-info strong">ID</dt>
        <dd class="col-xl-3 col-8 border strong">Name</dd>
        <dd class="col-xl-2 col-4 border strong">Type</dd>
        <dd class="col-xl-5 col-8 border strong">Notes</dd>

        {% for ledger in ledger_list %}
        <dt class="col-xl-2 col-4 border border-info">{{ ledger.id }}</dt>
        <dd class="col-xl-3 col-8 border">{{ ledger.name }}</dd>
        <dd class="col-xl-2 col-4 border">{{ ledger.type }}</dd>
        <dd class="col-xl-5 col-8 border">{{ ledger.notes }}</dd>
        {% endfor %}
    </dl>
    {% else %}
    <p>No ledgers available.</p>
    {% endif %}
</div>