{% extends "ledgers/_base.html" %}

{% load static %}

{% block page-title %} Overview of Ledgers {% endblock page-title %}

{% block content %}
<div class="row column-gap-1 my-1 justify-content-around strong">
    <div class="col-xl-2 col-4 card">
        <div class="card-body">ID</div>
    </div>
    <div class="col-xl-3 col-7 card">
        <div class="card-body">Name</div>
    </div>
    <div class="col-xl-1 col-4 card">
        <div class="card-body">Type</div>
    </div>
    <div class="col-xl-5 col-7 card">
        <div class="card-body">Notes</div>
    </div>
</div>
<div
    hx-get="{% url 'ledgers:hx-list' %}" hx-trigger="load" hx-target="this" hx-swap="outerHTML"
    class="mx-auto" style="width: 100px">
    <img src="{% static 'media/loading.gif' %}">
</div>
{% endblock content %}
