<!--
    - [ ] ListView implementeren hier van GBKs
    - [ ] Knop om te maken en functionaliteit om te verwijderen
    - [ ] Filter functionaliteit
 -->

{% extends "ledgers/_base.html" %}

{% load static %}

{% block page-title %} Overview of ledgers {% endblock page-title %}

{% block content %}
<div
    hx-get="{% url 'ledgers:ledger_list' %}" hx-trigger="load" hx-target="this" hx-swap="outerHTML"
    class="mx-auto" style="width: 100px">
    <img src="{% static 'media/loading.gif' %}">
</div>
{% endblock content %}
