{% extends "ledgers/_base.html" %}

{% load static %}

{% block page-title %} Overview of Ledgers {% endblock page-title %}

{% block navbar-extra %}
<div class="vr"></div>

<li class="nav-item">
  <a class="nav-link navbar-ledger" href="{% url 'ledgers:create' %}">
  <span class="nav-link-title">
    Create
  </span>
  </a>
</li>
{% endblock navbar-extra %}

{% block content %}
<div class="container">
  <div class="row row-cards mb-1 justify-content-around strong">
    <div class="col-xl-2 col-4 card">
      <div class="card-body">ID</div>
    </div>
    <div class="col-xl-3 col-7 card">
      <div class="card-body">Name</div>
    </div>
    <div class="col-xl-2 col-4 card">
      <div class="card-body">Type</div>
    </div>
    <div class="col-xl-4 col-7 card">
      <div class="card-body">Notes</div>
    </div>
  </div>

  <div id="ledgers_list_placeholder"
    hx-get="{% url 'ledgers:hx-list' %}"
    hx-trigger="load"
    hx-target="this"
    hx-swap="outerHTML">
  </div>
</div>
{% endblock content %}
