<!--
    - [ ] ListView van regels op GBK
    - [ ] Dan met filter opties
    - [ ] En GBK-specifieke gegevens/instellingen (dropdown menu ofzo?)
-->

{% extends "ledgers/_base.html" %}

{% block page-title %} Ledger: {{ ledger.id }} {% endblock %}

{% block htmx-shell %}
<div class="container-xl">
    <div class="row row-cards mb-1 column-gap-1">
        <div class="card card-body col-2 strong">ID</div>
        <div class="card card-body col-4 strong">Name</div>
        <div class="card card-body col-1 strong">Type</div>
        <div class="card card-body col-4 strong">Notes</div>
    </div>
    <div class="row row-cards column-gap-1">
        <div class="card card-body col-2">{{ object.id }}</div>
        <div class="card card-body col-4">{{ object.name }}</div>
        <div class="card card-body col-1">{{ object.type }}</div>
        <div class="card card-body col-4">{{ object.notes }}</div>
    </div>
</div>

<div class="container-xl mt-4">
    <div class="row row-cards mb-1 column-gap-2">
        <div class="card col-auto">
            <div class="card-body">Regel 1</div>
        </div>
        <div class="card col-6">
            <div class="card-body">Een boekingsregel</div>
        </div>
        <div class="card col-auto">
            <div class="card-body">€ 1.23</div>
        </div>
    </div>

    <div class="row row-cards mb-1 column-gap-2">
        <div class="card col-auto">
            <div class="card-body">Regel 2</div>
        </div>
        <div class="card col-6">
            <div class="card-body">En nog één</div>
        </div>
        <div class="card col-auto">
            <div class="card-body">-€ 4.56</div>
        </div>
    </div>
</div>
{% endblock htmx-shell %}
