{% extends "entries/_base.html" %}

{% block page-title %}
{% if is_update %}
Update Entry: {{ entry.id }}
{% else %}
Create new Entry
{% endif %}
{% endblock page-title %}

{% block content %}
<div class="container mb-4">
    <div class="row row-cards mb-1 column-gap-1">
    <div class="card card-body col-2 strong">Journal</div>
    <div class="card card-body col-4 strong">Notes</div>
</div>

    {% if is_update %}
    <form action="{% url 'entries:update' entry %}" method="POST">
    {% else %}
    <form action="{% url 'entries:create' %}" method="POST">
    {% endif %}
        {% csrf_token %}
        <div class="row row-cards mb-1 column-gap-1">
            <div class="card card-body col-2 h-100">
                {{ form.journal }}
            </div>
            <div class="card card-body col-4 h-100">
                {{ form.notes }}
            </div>
        </div>
    </form>
</div>

<!-- Create and delete functions, called by .delete-button and .create-button -->
<script>
    var index = 2;
    function add_row(source_index) {
        var current_index = index;

        var source_form = document.getElementById("form_entryrow-" + source_index);

        var new_form = source_form.cloneNode(true);
        new_form.id = "form_entryrow-" + index;
        new_form.dataset.index = current_index;
        new_form.reset();

        var delete_button = new_form.querySelector(".delete-button");
        delete_button.onclick = function() { delete_row(current_index); };
        delete_button.disabled = false;

        var add_button = new_form.querySelector(".add-button");
        add_button.onclick = function() { add_row(current_index) };

        source_form.insertAdjacentElement("afterend", new_form);

        index++;
    }

    // Only add a new row if tab was pressed on the final input on the page
    function tab_pressed(event) {
        if (event.key === "Tab") {
            var last_form = document.querySelector("#entryrow_container form:last-child");
            if (event.srcElement == last_form.querySelector(".value input")) {
                add_row(last_form.dataset.index);
            }
        }
    }

    function delete_row(index) {
        if (!(index === 1)) {
            var row = document.getElementById("form_entryrow-" + index)
            row.classList.remove("fade-in");
            row.classList.add("fade-out");
            setTimeout(() => row.remove(), 150);
        } else {
            console.log("Why are you trying to hack the site >:(")
        }
    }
</script>

<div class="container" id="entryrow_container"
hx-get="{% url 'entries:create_row' %}"
hx-trigger="load"
hx-target="find div"
hx-swap="afterend"
>
    <div class="row row-cards mb-1 column-gap-1 justify-content-around sticky-top strong">
        <div class="card card-body col-1" style="opacity: 0"></div>

        <div class="card card-body col-5 col-xl-2 date">
            Date
        </div>
        <div class="card card-body col-3 col-xl-1 ledger">
            Ledger
        </div>
        <div class="card card-body col-3 col-xl-1 account">
            Account
        </div>
        <div class="card card-body col-8 col-xl-4 document">
            Document
        </div>
        <div class="card card-body col-8 col-xl-2 value">
            Value
        </div>
    </div>

    <div class="row row-cards">
        <div class="card col-1 ms-auto">
            {% if is_update %}
            <button class="p-2 m-1 btn btn-ghost-cyan">Update!</button>
            {% else %}
            <button class="p-2 m-1 btn btn-ghost-cyan">Create!</button>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
