{% extends "entries/_base.html" %}

{% block page-title %}
{% if is_update %}
Update Entry: {{ entry.id }}
{% else %}
Create new Entry
{% endif %}
{% endblock page-title %}

{% block content %}
<div class="row row-cards mb-1 column-gap-1">
    <div class="card card-body col-2 strong">Journal</div>
    <div class="card card-body col-4 strong">Notes</div>
</div>

{% if is_update %}
<form action="{% url 'entries:update' entry %}" method="POST">
{% else %}
<form action="{% url 'entries:create' %}" method="POST">
{% endif %}
    {% csrf_token %}
    <div class="row row-cards mb-1 column-gap-1">
        <div class="card card-body col-2 h-100">
            {{ form.journal }}
        </div>
        <div class="card card-body col-4 h-100">
            {{ form.notes }}
        </div>
    </div>
</form>

<!-- Create function to delete a row, called by button.onclick in each row -->
<script>
    function delete_row(index) {
        if (!(index == 1)) {
            document.getElementById("form_entryrow-" + index).remove();
        } else {
            console.log("Why are you trying to hack the site >:(")
        }
    }
</script>

<div id="entryrow_container">
    <div id="entry_rows_placeholder"
        hx-get="{% url 'entries:create_row' index=1 %}"
        hx-trigger="load"
        hx-target="this"
        hx-swap="outerHTML">
    </div>
</div>


<div class="row row-cards">
    <div class="card col-1 ms-auto">
        {% if is_update %}
        <input class="p-2 m-1 btn btn-ghost-cyan" type="submit" value="Update!">
        {% else %}
        <input class="p-2 m-1 btn btn-ghost-cyan" type="submit" value="Create!">
        {% endif %}
    </div>
</div>

{% endblock content %}
