{% extends "entries/_base.html" %}

{% block page-title %} Entry: {{ entry.id }} {% endblock %}

{% block content %}
<div class="container">
    <div class="row row-cards mb-1 column-gap-1">
        <div class="card card-body col-2 strong">ID</div>
        <div class="card card-body col-4 strong">Journal</div>
        <div class="card card-body col-4 strong">Notes</div>
    </div>
    <div class="row row-cards column-gap-1">
        <div class="card card-body col-2">{{ entry.id }}</div>
        <div class="card card-body col-4">{{ entry.journal.id }}</div>
        <div class="card card-body col-4">{{ entry.notes | default:'<em>No notes.</em>' }}</div>
    </div>
</div>

<div class="container mt-4">
    <div id="entry_rows_placeholder"
        hx-target="this"
        hx-swap="outerHTML"
        hx-trigger="load"
        hx-get="{% url 'entries:entry_rows' entry.id %}">
    </div>
</div>
{% endblock content %}
