{% extends "entries/_base.html" %}

{% block page-title %} Entry: {{ entry.id }} {% endblock %}

{% block content %}
<div class="container-xl">
    <div class="row row-cards mb-1 column-gap-1">
        <div class="card card-body col-2 strong">ID</div>
        <div class="card card-body col-4 strong">Journal</div>
        <div class="card card-body col-4 strong">Notes</div>
    </div>
    <div class="row row-cards column-gap-1">
        <div class="card card-body col-2">{{ entry.id }}</div>
        <div class="card card-body col-4">{{ entry.journal.id }}</div>
        <div class="card card-body col-4">{{ entry.notes }}</div>
    </div>
</div>

<div class="container-xl mt-4">
    <div class="row column-gap-1 strong mb-2 justify-content-around">
        <div class="card col-2">
            <div class="card-body">Date</div>
        </div>
        <div class="card col-2">
            <div class="card-body">Entry</div>
        </div>
        <div class="card col-5">
            <div class="card-body">Document</div>
        </div>
        <div class="card col-2">
            <div class="card-body">Value</div>
        </div>
    </div>

    <div id="entry_row_placeholder"
        hx-target="this"
        hx-swap="outerHTML"
        hx-trigger="load"
        hx-get="{% url 'entries:entry_rows' 1 %}">
    </div>
</div>
{% endblock content %}
