---
name: validate_on_push
on:
  [push, workflow_dispatch]

jobs:
  validate:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Set up python
        run: |
          sudo apt-get update
          sudo apt-get install python3 python3-pip python3-venv -y
          python3 -m venv venv

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          source venv/bin/activate
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install ruff
          pip install coverage

      - name: Lint files
        run: |
          source ../venv/bin/activate
          ruff check 2>&1 >> $GITHUB_STEP_SUMMARY
        working-directory: ./app

      - name: Django tests
        run: |
          source ../venv/bin/activate
          coverage run --source='.' --omit="*/migrations/*" manage.py test 2>&1 >> $GITHUB_STEP_SUMMARY
          coverage report >> $GITHUB_STEP_SUMMARY
        working-directory: ./app
